<div class="col-xl-4 col-lg-12">
    <div class="sidebar">
    <div class="sidebar-widget style2">
    <h4>See Our Products</h4>
    <div class="category-box style2">
    <ul class="list-style">
    <li>
    <a href="{% url 'ntsp' %}">Nobleserve Target Savings Plan
    <span><i class="flaticon-next"></i></span>
    </a>
    </li>
    <li>
    <a href="{% url 'npn' %}">The Nobleserve Naira Investment 
    <span><i class="flaticon-next"></i></span>
    </a>
    </li>
    <li>
    <a href="{% url 'lf' %}">
        Lease Financing
    <span><i class="flaticon-next"></i></span>
    </a>
    </li>
    <li>
    <a href="{% url 'ccl' %}">
        Corporate and Commercial Loans
    <span><i class="flaticon-next"></i></span>
    </a>
    </li>
    <li>
    <a href="{% url 'pl' %}">
    Personal Loans
    <span><i class="flaticon-next"></i></span>
    </a>
    </li>
   
    </ul>
     </div>
    </div>