{% load static %}
<footer class="footer-wrap">
    <div class="container">
    <div class="row pt-100 pb-75">
    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-6">
    <div class="footer-widget">
    <a href="index.html" class="footer-logo">
    <img src="{% static 'assets/img/logo_white.svg' %}" width="150px" alt="Image">
    </a>

    </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
    <div class="footer-widget">
    <h3 class="footer-widget-title">Company</h3>
    <ul class="footer-menu list-style">
    <li>
    <a href="about.html" target="_blank">
    About Us
    </a>
    </li>
    <li>
    <a href="blog-left-sidebar.html" target="_blank">
  Careers
    </a>
    </li>
    <li>
    <a href="team.html" target="_blank">
   FAQs
    </a>
    </li>
    <li>
    <a href="converter.html" target="_blank">
    Contact Us
    </a>
    </li>
    
    </ul>
    </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
    <div class="footer-widget">
    <h3 class="footer-widget-title">Product</h3>
    <ul class="footer-menu list-style">
    <li>
    <a href="contact.html" target="_blank">
 Personal Loan
    </a>
    </li>
    <li>
    <a href="faq.html" target="_blank">
  Business Loan
    </a>
    </li>
    <li>
    <a href="app.html" target="_blank">
   SME Loan
    </a>
    </li>
   
    </ul>
    </div>
    </div>
    <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
    <div class="footer-widget">
    <h3 class="footer-widget-title">Legal</h3>
    <ul class="footer-menu list-style">
    <li>
    <a href="faq.html" target="_blank">
   Privacy Policy
    </a>
    </li>
    <li>
    <a href="chart.html" target="_blank">
   Terms and Condition
    </a>
    </li>
   
    
    </ul>
    </div>
    </div>

    <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
        <div class="footer-widget">
        <h3 class="footer-widget-title">Contact</h3>
        <ul class="footer-menu list-style">
          <li>
            <a href="faq.html" target="_blank">199a Jide Oki street,Victoria Island,Lagos State..
            </a>
            </li>
        <li>
        <a href="faq.html" target="_blank">
      hello@nobleserve.com
        </a>
        </li>
        <li>
        <a href="chart.html" target="_blank">
       088670705600
        </a>
        </li>
        <li>
            <a href="chart.html" target="_blank">
         Help Centre
            </a>
            </li>
        
        </ul>
        </div>
      
      </div>
    </div>



   
    

   
    </div>
    </div>
    </footer>
    


      <!-- copyright area -->
      <div class="copyright pt-20  pb-120" style="background-color: #052E60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 text-center text-lg-start">
                  <div class="copyright-text">
                    <p>© 2023 Nobleserve All rights reserved. Powered by Webedge</p>
               
                  </div>
                   </div>
                <div class="col-lg-4 text-center my-3 my-sm-0">
                    <div class="copyright-text">
                       
                    </div>
                </div>
                <div class="col-lg-3 text-center text-lg-end ">
                  <div class="copyright-text">
                    <ul class="social-profile style1 ">
                      
                      <li>
                      <a target="_blank" href="https://twitter.com">
                      <i class="ri-twitter-fill"></i>
                      </a>
                       </li>
                     
                      <li>
                      <a target="_blank" href="https://linkedin.com">
                      <i class="ri-linkedin-fill"></i>
                      </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://facebook.com">
                        <i class="ri-facebook-fill"></i>
                        </a>
                        </li>
                      </ul>
                  </div>
                   
                </div>
         
        </div>
 


  <!-- footer end -->