{% load static %}
<footer class="footer-wrap">
  <div class="container">
  <div class="row pt-100 pb-75">
  <div class="col-xl-3 col-lg-5 col-md-5 col-sm-6">
  <div class="footer-widget">
  <a href="{% url 'home' %}" class="footer-logo">
    <img src="{% static 'assets/img/logo_white.svg' %}" width="150px" alt="Image">
  </a>
  </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
  <div class="footer-widget">
  <h3 class="footer-widget-title">Company</h3>
  <ul class="footer-menu list-style">
    <li>
    <a href="{% url 'about' %}" >
    About Us
    </a>
    </li>
    <li>
    <a href="{% url 'products' %}" >
  Products
    </a>
    </li>
    <li>
    <a href="{% url 'faq' %}" >
   FAQs
    </a>
    </li>
    <li>
    <a href="{% url 'contact' %}">
    Contact Us
    </a>
    </li>

    <li>
      <a href="{% url 'blog' %}">
      Blog
      </a>
      </li>
    
    </ul>
  </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
  <div class="footer-widget">
  <h3 class="footer-widget-title">Products</h3>
  <ul class="footer-menu list-style">
    <li>
      <a href="{% url 'ntsp' %}">Nobleserve Target Savings Plan
      </a>
      </li>
      <li>
      <a href="{% url 'npn' %}">Nobleserve Naira Investment
      </a>
      </li>
      <li>
      <a href="{% url 'lf' %}">
          Lease Financing
      </a>
      </li>
      <li>
      <a href="{% url 'ccl' %}">
          Corporate and Commercial Loans</span>
      </a>
      </li>
      <li>
      <a href="{% url 'pl' %}">
      Personal Loans
      </a>
      </li>
     
  </ul>
  </div>
  </div>
  <div class="col-xl-4 col-lg-7 col-md-6 col-sm-6">
  <div class="footer-widget">
  <h3 class="footer-widget-title">Contact Us</h3>

  <ul class="footer-menu list-style">
    <li>
      <a href="{% url 'ntsp' %}"><b>Address: </b> <br>199a Jide Oki street,Victoria Island, Lagos State.
      </a>
      </li>
      <li>
      <a href="{% url 'npn' %}"><b>Email: </b> <br>cx@nobleservefinance.com
      </a>
      </li>
      <li>
      <a href="{% url 'lf' %}">
        <b>Phone Number: </b> <br>+2349026578421
      </a>
      </li>
     
  </ul>
 
  </div>
  </div>
  </div>
  
  </div>
  </footer>


      <!-- copyright area -->
      <div class="copyright pt-20  pb-120" style="background-color: #052E60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 text-center text-lg-start">
                  <div class="copyright-text">
                    <p>© 2023 Nobleserve All rights reserved. Powered by Webedge</p>
               
                  </div>
                   </div>
                <div class="col-lg-4 text-center my-3 my-sm-0">
                    <div class="copyright-text">
                       
                    </div>
                </div>
                <div class="col-lg-3 text-center text-lg-end ">
                  <div class="copyright-text">
                    <ul class="social-profile style1 ">
                      
                      <li>
                      <a target="_blank" href="https://twitter.com/NobleserveC?t=WDQ95jF2poSRMAY8d7BjCA&s=08">
                      <i class="ri-twitter-fill"></i>
                      </a>
                       </li>
                       <li>
                        <a target="_blank" href="https://www.instagram.com/nobleservefinance.ng/?igshid=ZDc4ODBmNjlmNQ%3D%3D">
                        <i class="ri-instagram-fill"></i>
                        </a>
                         </li>
                     
                      <li>
                      <a target="_blank" href="https://www.linkedin.com/company/nobleserve-capital-management-limited/">
                      <i class="ri-linkedin-fill"></i>
                      </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://web.facebook.com/nobleservecapitalng?_rdc=1&_rdr">
                        <i class="ri-facebook-fill"></i>
                        </a>
                        </li>
                      </ul>
                  </div>
                   
                </div>
         
        </div>
 


  <!-- footer end -->