{% load static %}
<footer class="footer-wrap">
    <div class="container">
    <div class="row pt-100 pb-75">
    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-6">
    <div class="footer-widget">
    <a href="index.html" class="footer-logo">
    <img src="{% static 'assets/img/logo_white.svg' %}" width="150px" alt="Image">
    </a>

    </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
    <div class="footer-widget">
    <h3 class="footer-widget-title">Company</h3>
    <ul class="footer-menu list-style">
    <li>
    <a href="about.html" target="_blank">
    About Us
    </a>
    </li>
    <li>
    <a href="blog-left-sidebar.html" target="_blank">
  Careers
    </a>
    </li>
    <li>
    <a href="team.html" target="_blank">
   FAQs
    </a>
    </li>
    <li>
    <a href="converter.html" target="_blank">
    Contact Us
    </a>
    </li>
    
    </ul>
    </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
    <div class="footer-widget">
    <h3 class="footer-widget-title">Product</h3>
    <ul class="footer-menu list-style">
    <li>
    <a href="contact.html" target="_blank">
 Personal Loan
    </a>
    </li>
    <li>
    <a href="faq.html" target="_blank">
  Business Loan
    </a>
    </li>
    <li>
    <a href="app.html" target="_blank">
   SME Loan
    </a>
    </li>
   
    </ul>
    </div>
    </div>
    <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
    <div class="footer-widget">
    <h3 class="footer-widget-title">Legal</h3>
    <ul class="footer-menu list-style">
    <li>
    <a href="faq.html" target="_blank">
   Privacy Policy
    </a>
    </li>
    <li>
    <a href="chart.html" target="_blank">
   Terms and Condition
    </a>
    </li>
   
    
    </ul>
    </div>
    </div>

    <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
        <div class="footer-widget">
        <h3 class="footer-widget-title">Contact</h3>
        <ul class="footer-menu list-style">
        <li>
        <a href="faq.html" target="_blank">
      hello@nobleserve.com
        </a>
        </li>
        <li>
        <a href="chart.html" target="_blank">
       088670705600
        </a>
        </li>
        <li>
            <a href="chart.html" target="_blank">
         Help Centre
            </a>
            </li>
        
        </ul>
        </div>
      
      </div>
    </div>


    
    <div class="row" style="color: #052E60">
        <div class="header-top-left">
            <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Cuex</span>. All Rights Reserved By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>

      </div>
   
    </div>
    </div>
    </footer>
    