{% load static %}

<section class="hero-wrap style2">
    <div class="container">
    <div class="row align-items-center gx-5">
    <div class="col-lg-6">
    <div class="hero-content">
    <h1 >Apply for a <b style="color:#AD1D27">Loan</b> <br> with Confidence</h1>
    <p>We offer a variety of loans, including cash flow improvement, acquisition finance and debt consolidation loans.</p>
    <div class="hero-btn">
    <a href="contact.html" class="btn style1">Apply Now<i class="ri-arrow-right-s-line"></i></a></a>
    </div>
        </div>
        </div>
        <div class="col-lg-6" style="margin-top:60px">
        <div class="hero-img-wrap">
        <div class="hero-promo-text bounce">
        <span><i class="flaticon-group"></i></span>
        <h6>20M+ <span>Active Users</span></h6>
        </div>
        <div class="hero-img-one">
        <img src="{% static 'assets/img/hero/hero-img-2.jpg' %}" alt="Image">
        </div>
        <div class="hero-img-two">
        <img src="{% static 'assets/img/hero/hero-img-3.jpg' %}" alt="Image">
        </div>
        </div>
        </div>
        </div>
        </div>
        
        </section>
        