<section class="help-wrap-two ptb-50 bg_gray">
    <div class="container">
    <div class="row gx-5 align-items-center">
    <div class="col-lg-12">
    <div class="help-content">
    <div class="content-title-one" style="margin-bottom:-50px">
            <h2>How Nobleserve Works</h2>
      </div>
    
      <div class="row">
  
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6">
    <div class="help-card">
    <span>01</span>
    <h3>Apply Online</h3>
    <p>Complete our simple online application form, providing us with some basic information about yourself and your loan requirements. <br/><br/><br/></p>
 
    </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6">
        <div class="help-card">
        <span>02</span>
        <h3>Get Pre-Approved</h3>
        <p>Once we receive your application, our team will review it promptly. We aim to provide you with a pre-approval decision as quickly as possible, so you can move forward with confidence.</p>
 
        </div>
        </div>


    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 pb-20">
    <div class="help-card">
    <span>03</span>
    <h3>Customize your Loan</h3>
    <p>Based on your pre-approved amount, you can customize your loan by selecting the loan term and repayment options that best suit your financial needs.<br/><br/></p>
    </div>
    </div>



    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 pb-110">
        <div class="help-card ">
        <span>04</span>
        <h3>Finalize the Process</h3>
        <p>After reviewing and accepting the loan terms, you'll finalize the application process. Our team will guide you through the necessary steps, ensuring a smooth and efficient experience.</p>
 
        </div>
        </div>


        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 pb-110">
            <div class="help-card ">
            <span>05</span>
            <h3>Receive Funds</h3>
            <p>Once your loan is approved and all formalities are completed, we'll transfer the funds directly to your designated bank account. You can start utilizing the funds immediately to turn your dreams into reality.</p>
     
            </div>
            </div>




 
 
    </div>

    
    </div>
    </div>
  
    </div>
    </div>
</section>
    

