{% load static %}
<div class="partner-wrap ptb-40"  >
    <div class="container"  >
        <div class="row gy-4 align-items-left features-item">
          <div class="col-lg-3 order-2 order-lg-1"  >
            <h6>CBN licensed and Regulated</h6>
            
          </div>
          <div class="col-lg-9 order-1 order-lg-2 d-flex align-items-center" data-aos-delay="100">
            <div class="partner-slider owl-carousel">
            <div class="partner-item">
                <img src="{% static 'assets/img/partner/cbn.png' %}"  style="width:50px" alt="Image">
                </div>
                
               
          </div>
        </div><!-- Features Item -->

    </div>
    </div>
    