
{% extends "base.html" %}  
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}

{% load static %}


{% include 'partials/preloader.html' %}

<!--wrapper-->
<div class="wrapper">
    <div class="section-authentication-cover">
        <div class="">
            <div class="row g-0">

                <div  class="col-12 col-xl-7 col-xxl-8 auth-cover-left">

                    <div class="hero-content style1">
                        <a href="{% url 'home' %}">

                            <a href="{% url 'home' %}">
                                <img class="logo-dark" src="{% static 'assets/img/logo_white.svg' %}"  width="130px" alt="logo">
                                  
                                                        </a>
                                                       
                                                               <h1 >You are welcome  to <br>Nobleserve Finance!</h1>
                               <p>We're excited to help you secure the funds you need.  <br/> To get started, please complete the sign-up process  <br/> below and  create your loan account.</p>   
                    </div>
                </div>

                <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center">
                    <div class="card rounded-0 m-3 shadow-none bg-transparent mb-0" style="border:0px">
                        <div class="card-body" >
                            <div class="">
                                
                                <div class="text-left mb-4">
                                    <a href="{% url 'home' %}"><svg width="50"  height="50" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.7143 38L25.2143 36.5L17.7858 29.0714H42.2858V26.9286H17.7858L25.2143 19.5L23.7143 18L13.7143 28L23.7143 38Z" fill="#101828"/>
                                        <rect x="0.5" y="0.5" width="55" height="55" rx="27.5" stroke="#101828"/>
                                        </svg></a> 
                                        
                                    <h4 class="">Welcome Back!</h4>
                                    <p class="mb-0">Don't have an account? <a class="text-bold" href="{% url 'register' %}">Sign Up</a></p>
                                </div>
                                <div class="form-body">

                                    <form class="row g-3" action="{% url 'login' %}"  method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% include 'partials/alerts.html' %}

                                        <div class="col-12">
                                            <label for="inputEmailAddress" class="form-label">Email Address</label>
                                            <input type="email" name="email" class="form-control" id="inputEmailAddress" placeholder="example@user.com">
                                        </div>
                                        <div class="col-12">
                                            <label for="inputChoosePassword" class="form-label">Password</label>
                                            <div class="input-group" id="show_hide_password">
                                                    <input id="password-field" type="password" class="form-control" name="password"> <a href="javascript:;" class="input-group-text bg-transparent"> <span toggle="#password-field" class="fa fa-eye-slash field-icon toggle-password"></span></a>
                                            </div>
                                        </div>
                                            <div class="col-12">
                                                <div class="text-end ptb-10" >	<a style=" color:red" href="authentication-forgot-password.html">Forgot Password ?</a>
                                        
                                            </div>
                                        <div class="col-12">
                                            <div class="d-grid ">
                                                <button type="submit" class="btn  style1">LOGIN <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="currentColor" fill-rule="evenodd" d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd"/></svg></button>
                                            </div>
                                        </div>
                                     
                                    </form>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end row-->
        </div>
    </div>
</div>
    {% endblock content %}

