
{% extends "base2.html" %}  
{% load static %}
{% block title %} Customer Dashboard {% endblock %}

{% block content %}

{% include 'partials/dashboard/header.html' %}
{% include 'partials/dashboard/sidebar.html' %}

 <!-- BEGIN: Content-->
 <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body"><!-- eCommerce statistic -->



        <div class="content-body"><!-- eCommerce statistic -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="info">{{total_no_of_customers}}</h3>
                                        <h6  style="margin-top: 10px; font-weight:bold">Number of Customers <br><br></h6>
                                    </div>
                                    <div>
                                        <i class="icon-user-follow success font-large-2 float-right"></i>
                                    </div>
                                </div>
                                                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="warning">{{total_no_of_target_savings}}</h3>
                                        <h6 style="margin-top: 10px; font-weight:bold">Number Target Savings Plan Requests</h6>
                                    </div>
                                    <div>
                                        <img class="" src="{% static 'app-assets/images/icons/targetsavings.svg' %}"  width="50px" alt="logo">

                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="success">146</h3>
                                        <h6 style="margin-top: 10px; font-weight:bold">Number Corporate and Commercial Loans</h6>
                                    </div>
                                    <div>
                                        <img class="" src="{% static 'app-assets/images/icons/lease-finance.svg' %}"  width="50px" alt="logo">
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="success">146</h3>
                                        <h6 style="margin-top: 10px; font-weight:bold">Number of Lease Financing Requests</h6>
                                    </div>
                                    <div>
                                        <img class="" src="{% static 'app-assets/images/icons/lease-finance.svg' %}"  width="50px" alt="logo">
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <a href="{% url 'personalLoans' %}">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="danger">{{total_no_of_personal_loans}}</h3>
                                        <h6 style="margin-top: 10px; font-weight:bold"> Personal Loans<br><br></h6>
                                    </div>
                                    <div>
                                        <img class="" src="{% static 'app-assets/images/icons/personalloans.svg' %}"  width="50px" alt="logo">
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                </a>
                </div>  </div>  </div>
         
            <!--/ eCommerce statistic -->



<!--/ Basic Horizontal Timeline -->
      </div>
    </div>
  </div>
  <!-- END: Content-->
  {% include 'partials/dashboard/footer.html' %}

{% endblock content %}

