{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Delete?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
                  
    <p>Are you sure you want to delete <b>{{ploan.created_by.first_name}} {{ploan.created_by.last_name}}</b> Personal Loan Records?</p>
    <p class="text-warning"><small>This action cannot be undone.</small></p>
 
  <div class="modal-footer">
    {% if ploan %}
    <button type="button" class="btn btn-danger" hx-post="{% url 'remove_personalloan' pk=ploan.pk %}">Remove</button>
    <span class="flex-grow-1"></span>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
   
  </div>
</form>
{% endwith %}
