{% load widget_tweaks %}

<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-center">Personal Loan Request Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <table class="table text-left  table-responsive">
                                                
        <tbody style="width:100%">
            <tr>
                <td class="table-secondary">Transaction ID: </td>
                <td>{{ploan.transaction_id}}</td>
            </tr>

            <tr>
                <td  class="table-secondary">Customer Name:</td>
                <td>{{ploan.created_by.first_name}} {{ploan.created_by.last_name}}</td>
            </tr>
            
            <tr>
                <td  class="table-secondary">Sex:</td>
                <td> {{ploan.sex}}</td>
            </tr>

            <tr>
                <td  class="table-secondary">Date of Birth:</td>
                <td> {{ploan.dob}}</td>
            </tr>
            
            <tr>
                <td  class="table-secondary">Phone Number:</td>
                <td> {{profile.phone_number}}</td>
            </tr>
            <tr>
                <td  class="table-secondary">Customer Address:</td>
                <td>{{ploan.address}}</td>
            </tr>
            <tr>
                <td  class="table-secondary">Occupation:</td>
                <td>{{ploan.occupation}}</td>
            </tr>

            <tr>
                <td  class="table-secondary">Purpose of Loan:</td>
                <td>{{ploan.purpose_of_loan}}</td>
            </tr>
            <tr>
                <td  class="table-secondary">Requested Amount:</td>
                <td>{{ploan.amount}}</td>
            </tr>
            <tr>
                <td  class="table-secondary">Duration of Refund</td>
                <td>{{ploan.duration}}</td>
            </tr>
            <tr>
                <td  class="table-secondary">Status</td>
                <td>{% if ploan.status == 'Pending' %}
                    <span class="badge badge-warning ">Pending</span>
            
                    {% elif ploan.status == 'Processing' %}
                    <span class="badge badge-primary ">Processing</span>
            
                  {% elif ploan.status == 'Declined' %}
                  <span class="badge badge-danger ">Declined</span>
            
                  {% elif ploan.status == 'Paid' %}
                  <span class="badge badge-success ">Paid</span>
            
                  {% else %}
                  <span class="badge badge-warning ">Pending</span>
                  {% endif %}</td>
            </tr>



         
        </tbody>
    </table>
   
              
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
 
  </div>
</form>

