

{% extends "base.html" %}  
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}
<div class="page-wrapper">
{% include 'partials/preloader.html' %}
{% include 'partials/header.html' %}



<section class="shopping-wrap ptb-80" style="margin-top: 70px;">
    <div class="container">
    <div class="row align-items-center">

        <div class="col-lg-6 col-12 order-lg-1 order-2" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
            <div class="shopping-img-wrap">
            <img src="{% static 'assets/img/shopping/shopping-1.png' %}" alt="Image">
              </div>
            </div>


            <div class="col-lg-6 col-12 order-lg-2 order-1"  data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="shopping-content">
                 <div class="content-title style1 feature-text ">
                <span>Contact Us</span>
                <h1 class="pb-0" style="line-height:50px">We are <br> here to help you</h1>
               
               
                    <div class="feature-item">
                   
                    <div class="feature-text">
                    
                    <p>Let us know who you are and what you're looking for below, and we'll get your message to the right Nobleserve team.</p>
                    </div>
                
            
                   
            
        </div> 
   
</div>
   
    </div>
    </div>
    
  
    </div>
    </div>
    </section>
    

<section class="contact-us-wrap ptb-100">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="contact-item">
    <span class="contact-icon">
    <i class="ri-map-pin-line"></i>
    </span>
    <div class="contact-info">
    <h3>Our Location</h3>
    <p>342/A Brooklyn St, Milson Avenue, New York, USA
    </p>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="contact-item">
    <span class="contact-icon">
    <i class="ri-mail-send-line"></i>
    </span>
    <div class="contact-info">
    <h3>Email Us</h3>
    <a href="/cdn-cgi/l/email-protection#325a575e5e5d725147574a1c515d5f"><span class="__cf_email__" data-cfemail="9bf3fef7f7f4dbf8eefee3b5f8f4f6">[email&#160;protected]</span></a>
    <a href="/cdn-cgi/l/email-protection#9feceaefeff0edebdffceafae7b1fcf0f2"><span class="__cf_email__" data-cfemail="65161015150a1711250610001d4b060a08">[email&#160;protected]</span></a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="contact-item">
    <span class="contact-icon">
    <i class="ri-phone-line"></i>
    </span>
    <div class="contact-info">
    <h3>Phone</h3>
    <a href="tel:44587154765">+44 587 154765</a>
    <a href="tel:55576234532">+55 576 234532</a>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-7">
    <div class="contact-form">
    <form class="form-wrap" id="contactForm">
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <input type="text" name="name" placeholder="Name*" id="name" required data-error="Please enter your name">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <input type="email" name="email" id="email" required placeholder="Email*" data-error="Please enter your email">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <input type="text" name="phone_number" placeholder="Phone*" id="phone_number" required data-error="Please enter your phone number">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <input type="text" name="msg_subject" placeholder="Subject*" id="msg_subject" required data-error="Please enter your subject">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group v1">
    <textarea name="message" id="message" placeholder="Your Messages.." cols="30" rows="10" required data-error="Please enter your message"></textarea>
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="form-group">
    <div class="form-check checkbox">
    <input name="gridCheck" value="I agree to the terms and privacy policy." class="form-check-input" type="checkbox" id="gridCheck" required>
    <label class="form-check-label" for="gridCheck">
    I agree to the <a class="link style1" href="terms-of-service.html">Terms &amp; Conditions</a> and <a class="link style1" href="privacy-policy.html">Privacy Policy</a>
    </label>
    <div class="help-block with-errors gridCheck-error"></div>
    </div>
    </div>
    <div class="col-md-12">
    <button type="submit" class="btn style1">SEND MESSAGE<i class="ri-arrow-right-s-line"></i></button>
    <div id="msgSubmit" class="h3 text-center hidden"></div>
    <div class="clearfix"></div>
    </div>
    </div>
    </form>
    </div>
    </div>
    <div class="col-lg-5">
    <div class="comp-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd">
                                        </iframe>
    </div>
    </div>
    </div>
    </div>
    </section>
    {% include 'partials/cta-wrap2.html' %}

    {% include 'partials/footer.html' %}
    {% endblock content %}
