
{% extends "base.html" %}  
{% load static %}
{% block title %} Loan {% endblock %}

{% block content %}
<div class="page-wrapper">
{% include 'partials/preloader.html' %}
{% include 'partials/header.html' %}



{% load static %}

<section class="hero-wrap style2">
    <div class="container">
    <div class="row align-items-center gx-5">
    <div class="col-lg-6">
    <div class="hero-content">
    <h1 >We’re the Sustainable Financial and Business Partner you Need!</h1>
    <p>We offer you the opportunity to achieve business sustainability and financial growth through our loans, funds management and advisory services.    </p>
    <div class="hero-btn">
    <a href="contact.html" class="btn style1">Apply Now<i class="ri-arrow-right-s-line"></i></a></a>
    </div>
        </div>
        </div>
        <div class="col-lg-6" style="margin-top:60px">
        <div class="hero-img-wrap">
        <div class="hero-promo-text bounce">
        <span><i class="flaticon-group"></i></span>
        <h6>20M+ <span>Active Users</span></h6>
        </div>
        <div class="hero-img-one">
        <img src="{% static 'assets/img/hero/hero-img-2.jpg' %}" alt="Image">
        </div>
        <div class="hero-img-two">
        <img src="{% static 'assets/img/hero/hero-img-3.jpg' %}" alt="Image">
        </div>
        </div>
        </div>
        </div>
        </div>
        
        </section>
        


{% include 'partials/partners.html' %}

    <section class="app-wrap style2 ptb-100">
        <div class="container">
        <div class="row gx-5 align-items-center">

            <div class="col-lg-6">
                <div class="app-content">
                    <div class="app-img-wrap">
                        <img src="{% static 'assets/img/shape-5.png' %}" alt="Image" class="app-shape-one bounce">
                        <img src="{% static 'assets/img/app-screen.png' %}" alt="Image">
                        </div>
                </div>
                </div>
        <div class="col-lg-6">

            <div class="content-title style1">
                <span >Our features</span>
                <h2 class="pb-20">Nobleserve Features</h2>
                <div class="wh-content">
                   
                    <div class="feature-item-wrap">
                    <div class="feature-item">
                    <div class="feature-icon">
                    <i class="flaticon-tick"></i>
                    </div>
                    <div class="feature-text">
                  
                    <p>Our loan application process is quick and hassle-free, accessible online.</p>
                    </div>
                    </div>
                    <div class="feature-item">
                    <div class="feature-icon">
                    <i class="flaticon-tick"></i>
                    </div>
                    <div class="feature-text">
               
                    <p>Enjoy loan top-ups that give you access to more funds to reach your goals even as you service an ongoing loan.</p>
                    </div>
                    </div>
                     <div class="feature-item">
                    <div class="feature-icon">
                    <i class="flaticon-tick"></i>
                    </div>
                    <div class="feature-text">
                    <p>Apply for a loan extension for convenient loan repayment..</p>
                    </div>
                    </div>


                    <div class="feature-item">
                        <div class="feature-icon">
                        <i class="flaticon-tick"></i>
                        </div>
                        <div class="feature-text">
                        <p>Competitive interest rates.</p>
                        </div>
                        </div>
                    </div>
                    
           
              
            </div>
        </div>
       
        </div> 
        </div>
    
        </section>


     
        {% include 'partials/loanCalculator.html' %}


        
<section class="pricing-table-wrap pt-100 pb-75">
    <div class="container">
     <div class="row">
    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
    <div class="section-title style1 text-center mb-40">
    <span>Get a loan now!</span>
    <h2>Nobleserve Loan Types</h2>
    </div>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="pricing-table style1">
    <div class="pricing-header">
    <h2>Personal Loan</h2>
    </div>
    <div class="pricing-features">
        <p>The offer above is an estimate and should only serve as a guide. Your final offer will be determined by the product type and your financial profile.</p>
   
    </div>
    <div class="purchase-pricing">
    <a href="login.html" class="btn style1">Apply Now</a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="pricing-table style2">
    <div class="pricing-header">
    <h2>Business Loan</h2>

    </div>
    <div class="pricing-features">
        <p>The offer above is an estimate and should only serve as a guide. Your final offer will be determined by the product type and your financial profile.</p>
   
    </div>
    <div class="purchase-pricing">
    <a href="login.html" class="btn style1">Apply Now</a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="pricing-table style1">
    <div class="pricing-header">
    <h2>SME Loan</h2>
   
    </div>
    <div class="pricing-features">
    <p>The offer above is an estimate and should only serve as a guide. Your final offer will be determined by the product type and your financial profile.</p>
    </div>
    <div class="purchase-pricing">
    <a href="login.html" class="btn style1">Apply  Now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>



        {% include 'partials/howwework.html' %}
        {% include 'partials/cta-wrap2.html' %}



   



        
</div>
{% include 'partials/footer.html' %}
    {% endblock content %}

