

{% extends "base.html" %}  
{% load static %}
{% block title %} Teams {% endblock %}

{% block content %}
<div class="page-wrapper">
{% include 'partials/preloader.html' %}
{% include 'partials/header.html' %}



<div class="breadcrumb-wrap bg-f br-1" style="margin-top:70px">
    <div class="container">
    <div class="breadcrumb-title">
    <h2>Our Management Board</h2>
    </div>
    </div>
    </div>
    

    

<section class="team-wrap pt-100 pb-75">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6"  data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    <div class="team-card style1">
    <div class="team-img">
    <img src="{% static 'assets/img/team/CEO.jpg' %}"  alt="Image">
    <ul class="social-profile list-style style1">
    <li>
    <a target="_blank" href="https://instagram.com">
    <i class="ri-instagram-line"></i>
    </a>
    </li>
    <li>
     <a target="_blank" href="https://linkedin.com">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://twitter.com">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://facebook.com">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    </ul>
    </div>
    <div class="team-info-wrap">
    <div class="team-info">
    <h3>Oluwatosin Ilesanmi  </h3>
    <span>Managing Director/CEO <br><br> </span>
    </div>
    </div>
    </div>
    </div>






    <div class="col-xl-3 col-lg-4 col-md-6"  data-bs-toggle="modal"
    data-bs-target="#exampleModal2" >
    <div class="team-card style1">

    <div class="team-img" >
        <img src="{% static 'assets/img/team/HHC.jpg' %}"  alt="Image">
    <ul class="social-profile list-style style1">
    <li>
    <a target="_blank" href="https://instagram.com">
    <i class="ri-instagram-line"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://linkedin.com">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://twitter.com">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://facebook.com">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    </ul>
    </div>
    <div class="team-info-wrap">
    <div class="team-info">
    <h3>Oluwatoyin Aghomi</h3>
    <span>Head, Human Capital & Administration</span>
    </div>
    </div>
    </div>
    </div>





    <div class="col-xl-3 col-lg-4 col-md-6" data-bs-toggle="modal"
    data-bs-target="#exampleModal3">
    <div class="team-card style1">
    <div class="team-img">
        <img src="{% static 'assets/img/team/HCC.jpg' %}"  alt="Image">
    <ul class="social-profile list-style style1">
     <li>
    <a target="_blank" href="https://instagram.com">
    <i class="ri-instagram-line"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://linkedin.com">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://twitter.com">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://facebook.com">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    </ul>
    </div>
    <div class="team-info-wrap">
    <div class="team-info">
    <h3>Yisa Hassan</h3>
    <span>Head, Corporate Credits & Non-Interest Finance</span>
    </div>
    </div>
    </div>
    </div>



    <div class="col-xl-3 col-lg-4 col-md-6" data-bs-toggle="modal"
    data-bs-target="#exampleModal4">
    <div class="team-card style1">
    <div class="team-img">
        <img src="{% static 'assets/img/team/HRMC.jpg' %}"   alt="Image">

 
    <ul class="social-profile list-style style1">
    <li>
    <a target="_blank" href="https://instagram.com">
    <i class="ri-instagram-line"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://linkedin.com">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://twitter.com">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://facebook.com">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    </ul>
    </div>
    <div class="team-info-wrap">
    <div class="team-info">
    <h3>Adeniyi Oyeyemi</h3>
    <span>Head, Risk Management & Compliance</span>
    </div>
    </div>
    </div>
    </div>





    
    <div class="col-xl-3 col-lg-4 col-md-6" data-bs-toggle="modal"
    data-bs-target="#exampleModal5">
        <div class="team-card style1">
        <div class="team-img">
            <img src="{% static 'assets/img/team/HRC.png' %}"  alt="Image">
    
     
        <ul class="social-profile list-style style1">
        <li>
        <a target="_blank" href="https://instagram.com">
        <i class="ri-instagram-line"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://linkedin.com">
        <i class="ri-linkedin-fill"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://twitter.com">
        <i class="ri-twitter-fill"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://facebook.com">
        <i class="ri-facebook-fill"></i>
        </a>
        </li>
        </ul>
        </div>
        <div class="team-info-wrap">
        <div class="team-info">
        <h3>Temidayo Oni        </h3>
        <span>Head, Retail Credits & Business Development</span> <br>
        </div>
        </div>
        </div>
        </div>




        
    <div class="col-xl-3 col-lg-4 col-md-6" data-bs-toggle="modal"
    data-bs-target="#exampleModal6">
        <div class="team-card style1">
        <div class="team-img">
            <img src="{% static 'assets/img/team/HFO.jpg' %}"   alt="Image">
    
     
        <ul class="social-profile list-style style1">
        <li>
        <a target="_blank" href="https://instagram.com">
        <i class="ri-instagram-line"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://linkedin.com">
        <i class="ri-linkedin-fill"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://twitter.com">
        <i class="ri-twitter-fill"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://facebook.com">
        <i class="ri-facebook-fill"></i>
        </a>
        </li>
        </ul>
        </div>
        <div class="team-info-wrap">
        <div class="team-info">
            <h3>Adeleke Ajose </h3>
            <span>Head, Finance & Operations  </span><br><br>
        </div>
        </div>
        </div>
        </div>


        <div class="col-xl-3 col-lg-4 col-md-6">
            </div>
    
            <div class="col-xl-3 col-lg-4 col-md-6">   
                </div>
        



    </div>
    </div>
    </div>
    </div>
    </div>


    
    {% include 'partials/team/teamsdetails_modal.html' %}
    </section>
        </div>
        

    {% include 'partials/footer.html' %}
    {% endblock content %}
