

{% extends "base.html" %}  
{% load static %}
{% block title %} Teans {% endblock %}

{% block content %}
<div class="page-wrapper">
{% include 'partials/preloader.html' %}
{% include 'partials/header.html' %}



<div class="breadcrumb-wrap bg-f br-1" style="margin-top:70px">
    <div class="container">
    <div class="breadcrumb-title">
    <h2>Our Management Team</h2>
    </div>
    </div>
    </div>
    

    

<section class="team-wrap pt-100 pb-75">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="team-card style1">
    <div class="team-img">
    <img src="{% static 'assets/img/team/CEO.jpg' %}"  style="width:300px; height:300px" alt="Image">
    <ul class="social-profile list-style style1">
    <li>
    <a target="_blank" href="https://instagram.com">
    <i class="ri-instagram-line"></i>
    </a>
    </li>
    <li>
     <a target="_blank" href="https://linkedin.com">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://twitter.com">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://facebook.com">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    </ul>
    </div>
    <div class="team-info-wrap">
    <div class="team-info">
    <h3>Oluwatosin Ilesanmi  </h3>
    <span>Managing Director/CEO <br><br>   </span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="team-card style1">
    <div class="team-img">
        <img src="{% static 'assets/img/team/HHC.jpg' %}"  style="width:300px; height:300px" alt="Image">
    <ul class="social-profile list-style style1">
    <li>
    <a target="_blank" href="https://instagram.com">
    <i class="ri-instagram-line"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://linkedin.com">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://twitter.com">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://facebook.com">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    </ul>
    </div>



    <div class="team-info-wrap">
    <div class="team-info">
    <h3>Oluwatoyin Aghomi</h3>
    <span>Head, Human Capital & Administration</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="team-card style1">
    <div class="team-img">
        <img src="{% static 'assets/img/team/HCC.jpg' %}"  style="width:300px; height:300px" alt="Image">
    <ul class="social-profile list-style style1">
     <li>
    <a target="_blank" href="https://instagram.com">
    <i class="ri-instagram-line"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://linkedin.com">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://twitter.com">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a target="_blank" href="https://facebook.com">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    </ul>
    </div>



    <div class="team-info-wrap">
    <div class="team-info">
    <h3>Yisa Hassan</h3>
    <span>Head, Corporate Credits & Non-Interest Finance </span>
    </div>
    </div>
    </div>
    </div>

 


    
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
        </div>
        

    {% include 'partials/footer.html' %}
    {% endblock content %}
