
{% extends "base2.html" %}  
{% load static %}
{% block title %} Add Personal Loan {% endblock %}
{% load widget_tweaks %}


{% block content %}


{% include 'partials/dashboard/header.html' %}
{% include 'partials/dashboard/sidebar.html' %}

 <!-- BEGIN: Content-->
 <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body"><!-- eCommerce statistic -->


        
<!-- Trade History & Place Order -->
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><b>Personal Loan Request</b></h4><hr>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
               
            </div>
            <div class="card-content  ">
                <div class="col-12 border-right-blue-grey border-right-lighten-4 pr-2">
                    {% with WIDGET_ERROR_CLASS='is-invalid' %}         
                    <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'  class="form form-horizontal">

                 
                    <div class="form-body">


                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label class="" >Gender</label>
                                {% render_field  form.sex class="form-control form-select" id='selUser3' placeholder="sex"  %}
                                <div class="invalid-feedback">{{ form.sex.errors|first }}</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="" >Date of Birth</label>
                                {% render_field   form.dob class="form-control" id="date" type="date" placeholder="date of birth"  %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="" >Occupation</label>
                                {% render_field  form.occupation class="form-control"  placeholder="Occupation"  %}
                            </div>
                          
                        </div>


                        
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label class="" >Address</label>
                                {% render_field  form.address class="form-control"  placeholder="Address"  %}
                                <div class="invalid-feedback">{{ form.address.errors|first }}</div>
                           </div>
                           <div class="form-group col-md-4">
                            <label class="" >When do you intend to pay back (duration):</label>
                            {% render_field   form.duration class="form-control" id="date" type="date" placeholder="date of birth"  %}
                            <div class="invalid-feedback">{{ form.duration.errors|first }}</div>
                          </div>
                       

                            <div class="form-group col-md-3">
                                <label class="" >Requested Amount of Loan</label>
                                {% render_field  form.amount class="form-control"  placeholder="Amount"  %}
                                <div class="invalid-feedback">{{ form.amount.errors|first }}</div>
                                </div>
                            
                          
                        </div>



                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"
                                for="btc-limit-buy-price">Purpose of Loan:</label>
                            <div class="col-md-9">
                                    {% render_field  form.purpose_of_loan class="form-control" rows="4" cols="3"   placeholder="Purpose of loan"  %}
                                <div class="invalid-feedback">{{ form.purpose_of_loan.errors|first }}</div>
                      
                            </div>
                        </div>

                     
                        <div class="form-actions pb-5">
                            <button type="submit" class="btn round btn-primary  width-200  btn-glow pull-right">
                                Submit Request</button>
                        </div>
                    </div>
                
                </form>
                {% endwith %}
            </div>




            
   
 
    </div> </div> </div>
</div>
<!--/ Trade History & Place Order -->







<!--/ Basic Horizontal Timeline -->
      </div>
    </div>



   <!-- Placeholder for the modal -->
   <div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>



  <!-- Empty toast to show the message -->



  <div class="toast-container position-absolute top-0 end-0 p-3" style="margin-top:60px">
    <div id="toast" class="toast-content toast align-items-center bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body p-1"  style="font-size:14px;" >

            </div>
         <button  type="button"  class="btn-close  btn-close-white width-200 me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
       
        </div>

    </div>

 <!-- end of toast to show the message -->





    
</div>

  </div>
  <!-- END: Content-->

 <!-- END: Content-->





  {% include 'partials/dashboard/footer.html' %}

{% endblock content %}

