

{% extends "base.html" %}  
{% load static %}
{% block title %} Nobleserve Promissory Notes {% endblock %}

{% block content %}
<div class="page-wrapper">
{% include 'partials/preloader.html' %}
{% include 'partials/header.html' %}



<div class="breadcrumb-wrap bg-f br-1" style="margin-top:70px">
    <div class="container">
    <div class="breadcrumb-title">
    <h2>Nobleserve Promissory Notes</h2>
   
    </div>
    </div>
    </div>
    

<div class="service-details-wrap ptb-100">
    <div class="container">
    <div class="row gx-5">
    <div class="col-xl-8 col-lg-12">
    <div class="service-desc">
    <a class="service-img mb-25 d-block" data-fancybox="gallery" href="{% static 'assets/img/services/youngman.jpg' %}">
    <img src="{% static 'assets/img/services/youngman.jpg' %}" alt="Image">
    </a>
    <h2>Nobleserve Promissory Notes    </h2>
    <p>Simple fixed deposit instruments which provides clients with the opportunity to earn a fixed return on investment.
    </p>
       <h2>Benefits</h2>
     <ul class="content-feature-list style2 list-style">
    <li><i class="ri-check-line"></i>Minimum tenor to invest for is 90days and maximum is 365 days.  </li>
    <li><i class="ri-check-line"></i>Minimum investible amount is 1,000,000 and you can earn up to 14%.    </li>
    <li><i class="ri-check-line"></i>Flexibility: You can top up as you desire on or before maturity on an existing investment.   </li>
 
    </ul>
    <h2>Eligibility    </h2>
    <p>From 18 years and above. </p>
   
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <span>
    <i class="ri-arrow-down-s-line plus"></i>
    <i class="ri-arrow-up-s-line minus"></i>
    </span>
  Requirements </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <div class="single-product-text">
        <ul class="content-feature-list style2 list-style" style="margin-top:-10px">
            <li><i class="ri-check-line"></i>A valid government issued ID card. </li>
            <li><i class="ri-check-line"></i>A recent utility bill not more than 3 months for proof of address.            </li>
            <li><i class="ri-check-line"></i> Two passport photographs.
            </li>
         
            </ul>  </div>
    </div>
    </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    <span>
    <i class="ri-arrow-down-s-line plus"></i>
    <i class="ri-arrow-up-s-line minus"></i>
    </span>
    Procedure
    </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <p>At maturity, a pay out of the total invested principal plus accrued interest will be paid to the client.

        To liquidate before the maturity date, 30% will be charged on the accrued interest of the investment.
        
        To get started, an application form will be filled and submitted with required supporting documents listed above to complete the onboarding process.
         </p>
    </div>
    </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    <span>
    <i class="ri-arrow-down-s-line plus"></i>
    <i class="ri-arrow-up-s-line minus"></i>
     </span>
   How to get Started?
    </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <p>To get started, an application form will be filled and submitted with required supporting documents listed above to complete the onboarding process.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<!--allservicessidebar -->
    {% include 'partials/allservicessidebar.html' %}
    <!-- |End allservicessidebar -->

    <div class="sidebar-widget style3">
    <div class="contact-widget-form">
    <div class="overlay op-95 bg-rock"></div>
    <h4>Lets Talk</h4>
    <form action="#" method="post">
    <div class="form-group">
    <input type="text" placeholder="Name">
    </div>
    <div class="form-group">
    <input type="email" placeholder="Email">
    </div>
    <div class="form-group">
    <input type="phone" placeholder="Phone">
    </div>
    <div class="form-group">
    <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Message"></textarea>
    </div>
    <button class="btn style1 d-block w-100" type="submit">Send Message</button>
    </form>
    </div>
    </div>

    

    
    <div class="sidebar-widget style2">
        <h4>Business Hours </h4>
        <div class="schedule-widget">
        <ul class="list-style">
        <li>
        <h6>Mon-Thurs</h6>
        <p>8:00 AM - 5:00 PM</p>
        </li>
        <li>
        <h6>Fri-Sat</h6>
        <p>8:00 AM - 3:00 PM</p>
        </li>
        <li>
        <h6>Sun</h6>
        <p>Closed</p>
        </li>
        </ul>
        </div>
        </div>
    </div>


    
    </div>

    
    </div>
    </div>
    </div>
    
    </div>
    


    {% include 'partials/cta-wrap2.html' %}

    {% include 'partials/footer.html' %}
    {% endblock content %}
