

{% extends "base.html" %}  
{% load static %}
{% block title %} Blog {% endblock %}

{% block content %}
<div class="page-wrapper">
{% include 'partials/preloader.html' %}
{% include 'partials/header.html' %}



<div class="breadcrumb-wrap bg-f br-1" style="margin-top:70px">
    <div class="container">
    <div class="breadcrumb-title">
    <h2>Change of Name to Nobleserve Finance Company Limited   </h2>
    </div>
    </div>
    </div>
    
  

<div class="blog-details-wrap ptb-100">
    <div class="container">
    <div class="row gx-5">
    <div class="col-xl-10 offset-xl-1">
    <article>
   
    <ul class="post-metainfo  list-style">
    <li><i class="ri-calendar-event-line"></i><a href="posts-by-date.html">July 10, 2023</a></li>
    <li><i class="ri-message-2-line"></i>No Comments</li>
    </ul>
    <h2>Change of Name to Nobleserve Finance Company Limited</h2>
    <div class="post-para">
    <p>

        Dear Valued Clients, Partners, and Members of the General Public, <br>
        
        We are delighted to announce a significant milestone in our journey as a financial company in Lagos, Nigeria. *As of 01-06-2023, Nobleserve Capital Management Limited will be operating under a new name: Nobleserve Finance Company Limited.*
        
        This change is in line with the directives issued by the Central Bank of Nigeria, aimed at aligning our brand identity with our expanded range of financial services and the evolving needs of our esteemed clients. 
        
        <p>We are excited about this transformation and believe that it reflects our commitment to delivering exceptional financial solutions and fostering trust in the industry.
        
            Rest assured, this name change will not impact the quality of service you have come to expect from us. Nobleserve Finance Company Limited will continue to provide the same level of professionalism, integrity, and dedication that has earned us your trust and loyalty over the years.
            
            Our core values remain unwavering, and we are devoted to enhancing your financial well-being through innovative solutions, personalized advisory services, and a deep understanding of your unique goals and aspirations. Our team of experienced professionals is ready to assist you every step of the way on your financial journey.
            
        </p> 
            <p>
                We would like to express our sincere gratitude to all our valued clients, partners, and stakeholders for your unwavering support and trust in us. This name change represents a new chapter in our company's history, and we are excited to embark on this journey together with you.
                Please note that all contracts, agreements, and relationships with our clients and partners remain unchanged. Our contact information, including address, phone numbers, and email addresses, also remains the same.
          
            </p>
            
          
        
        <p>Thank you for your continued trust and support. We look forward to serving you as Nobleserve Finance Company Limited and to creating a brighter financial future together.
        
        </p>   
        
        <p>Sincerely, <br>
        Korede Adeyemi <br>
        Managing Director, <br>
        Nobleserve Finance Company Limited </p>
</p>

   
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    
    

    {% include 'partials/footer.html' %}
    {% endblock content %}
